.main-title {
    margin-top: 0.4em;
}

.title-container {
    margin-top: 0.5em
}

.drop-title {
    margin-bottom: -1em;
}

#grean {
    color:rgb(190, 236, 34);
}

#footer {
    position: fixed;
    bottom: 0;
    padding-right: 0.125em;
    width: 100%;
    height: 1.75em;   /* Height of the footer */
    font-size: .9em;
    text-align: right;
 }